@import './theme.scss';

@mixin themeify {
  @each $theme-name, $theme-map in $themes {
    $theme-map: $theme-map !global;
    body[data-theme='#{$theme-name}'] & {
      @content;
    }
  }
}

// 主题图片加载混合器 $path 图片名称地址
@mixin imageURL($path) {
  background-image: url(map-get($theme-map, 'baseImageURL') + $path);
  background-repeat: no-repeat;
}

// 声明一个根据Key获取颜色的函数
@function themed($key) {
  @return map-get($theme-map, $key);
}