$light: (
        Modal_background_color: rgba(0, 0, 0, 0.24),
  // Gray
        Gray_50: #fdfdfd,
        Gray_100: #f4f4f5,
        Gray_200: #e4e4e7,
        Gray_300: #d4d4d8,
        Gray_400: #a1a1aa,
        Gray_500: #71717a,
        Gray_600: #52525b,
        Gray_700: #3f3f46,
        Gray_800: #27272a,
        Gray_900: #18181b,
  // Green
        Green_50: #f2fdf5,
        Green_100: #defce9,
        Green_200: #bbf7d0,
        Green_300: #85efac,
        Green_400: #4ade80,
        Green_500: #1ac057,
        Green_600: #16a249,
        Green_700: #157f3c,
        Green_800: #1c713c,
        Green_900: #114c29,
  // Orange
        Orange_50: #fff6eb,
        Orange_100: #ffedd6,
        Orange_200: #fed6a9,
        Orange_300: #fdba72,
        Orange_400: #fb923c,
        Orange_500: #f67416,
        Orange_600: #e9590c,
        Orange_700: #c03f0c,
        Orange_800: #9b3b12,
        Orange_900: #7d2d12,
  // Red
        Red_50: #fef1f1,
        Red_100: #fee1e1,
        Red_200: #fec8c8,
        Red_300: #fca6a6,
        Red_400: #fd6b6b,
        Red_500: #ef4343,
        Red_600: #dc2828,
        Red_700: #ba1c1c,
        Red_800: #981b1b,
        Red_900: #811d1d,
  // Yellow
        Yellow_50: #fefce7,
        Yellow_100: #fef9c3,
        Yellow_200: #fef08b,
        Yellow_300: #fddf49,
        Yellow_400: #facc14,
        Yellow_500: #e7b008,
        Yellow_600: #c88a04,
        Yellow_700: #a26107,
        Yellow_800: #864e0e,
        Yellow_900: #733f12,
  // Cyan
        Cyan_50: #f0f9ff,
        Cyan_100: #e1f3fe,
        Cyan_200: #bae5fd,
        Cyan_300: #7ed4fc,
        Cyan_400: #3abff8,
        Cyan_500: #0da2e7,
        Cyan_600: #0284c5,
        Cyan_700: #0369a0,
        Cyan_800: #075783,
        Cyan_900: #0c4a6e,
  // Violet
        Violet_50: #F5F0FF,
        Violet_100: #E4D8FE,
        Violet_200: #C8B1FD,
        Violet_300: #A989F9,
        Violet_400: #8F6BF4,
        Violet_500: #663CEE,
        Violet_600: #4D2BCC,
        Violet_700: #381EAB,
        Violet_800: #26138A,
        Violet_900: #190B72,
        Primary_color: #000000,
        White_color: #ffffff,
  // font
        Regular_font-weight: 400,
        Medium_font-weight: 500,
        Bold_font-weight: 600,
        title1_font-size: 32px,
        title2_font-size: 26px,
        title3_font-size: 18px,
        Headline_font-size: 16px,
        Body_font-size: 14px,
        Tips_font-size: 13px,
        Caption1_font-size: 12px,
        Caption2_font-size: 10px,
        // button
        Primary_button_text_color: #ffffff,
        Primary_button_disable_text_color: #8885fd,
        // default
        Default_button_text_color: #3f3f46,
        Default_button_disable_text_color: #a1a1aa,
        //ghost
        Ghost_button_text_color: #663CEE,
        Ghost_button_disable_text_color: #8F6BF4,
        //danger
        Danger_button_text_color: #ffffff,
        Danger_button_disable_text_color: #F64D4D,
);

$dark: (
  // button
        Primary_button_text_color: #ffffff,
        Primary_button_disable_text_color: #8885fd,
  // default
        Default_button_text_color: #a1a1aa,
        Default_button_disable_text_color: #a1a1aa,
  //ghost
        Ghost_button_text_color: #663CEE,
        Ghost_button_disable_text_color: #8F6BF4,
  //danger
        Danger_button_text_color: #F64D4D,
        Danger_button_disable_text_color: #ffffff,
        Primary_color: #ffffff,
        White_color: #000000,
  // Gray
        Gray_50: #272727,
        Gray_100: #333333,
        Gray_200: #434343,
        Gray_300: #5F5F5F,
        Gray_400: #747474,
        Gray_500: #878787,
        Gray_600: #9B9B9B,
        Gray_700: #B9B9B9,
        Gray_800: #D7D7D7,
        Gray_900: #EFEFEF,
  // Green
        Green_50: #0E3619,
        Green_100: #114C29,
        Green_200: #119541,
        Green_300: #1AC057,
        Green_400: #1C713C,
        Green_500: #4ADE80,
        Green_600: #85EFAC,
        Green_700: #BBF7D0,
        Green_800: #DEFCE9,
        Green_900: #F2FDF5,
  // Orange
        Orange_50: #582817,
        Orange_100: #9B3B12,
        Orange_200: #AF4D2C,
        Orange_300: #E05F03,
        Orange_400: #F67416,
        Orange_500: #FB923C,
        Orange_600: #FDBA72,
        Orange_700: #FED6A9,
        Orange_800: #FFEDD6,
        Orange_900: #FFF6EB,
  // Red
        Red_50: #5D2323,
        Red_100: #7B4141,
        Red_200: #AE4040,
        Red_300: #DC3D3D,
        Red_400: #F64D4D,
        Red_500: #FED0D0,
        Red_600: #FF6262,
        Red_700: #FF9393,
        Red_800: #FFA7A7,
        Red_900: #FFBBBB,
  // Yellow
        Yellow_50: #413D17,
        Yellow_100: #864E0E,
        Yellow_200: #A26107,
        Yellow_300: #C88A04,
        Yellow_400: #E7B008,
        Yellow_500: #FACC14,
        Yellow_600: #FDDF49,
        Yellow_700: #FEF08B,
        Yellow_800: #FEFACB,
        Yellow_900: #FEFCE6,
  // Cyan
        Cyan_50: #0284C5,
        Cyan_100: #0369A0,
        Cyan_200: #075783,
        Cyan_300: #0C4A6E,
        Cyan_400: #0DA2E7,
        Cyan_500: #3ABFF8,
        Cyan_600: #7ED4FC,
        Cyan_700: #BAE5FD,
        Cyan_800: #E1F3FE,
        Cyan_900: #F0F9FF,
  // Violet
        Violet_50: #190B72,
        Violet_100: #26138A,
        Violet_200: #381EAB,
        Violet_300: #4D2BCC,
        Violet_400: #663CEE,
        Violet_500: #8F6BF4,
        Violet_600: #A989F9,
        Violet_700: #C8B1FD,
        Violet_800: #E4D8FE,
        Violet_900: #F5F0FF,
  // font
        Regular_font-weight: 400,
        Medium_font-weight: 500,
        Bold_font-weight: 600,
        title1_font-size: 32px,
        title2_font-size: 26px,
        title3_font-size: 18px,
        Headline_font-size: 16px,
        Body_font-size: 14px,
        Tips_font-size: 13px,
        Caption1_font-size: 12px,
        Caption2_font-size: 10px,
        Modal_background_color: rgba(255, 255, 255, 0.24)
//Modal_background_color: rgba(0, 0, 0, 0.24),
);

$themes: (
        light: $light,
        dark: $dark,
);
